.body{
    
    background-color: gray;
 
}
.main{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    gap: 10px;
    max-width: 75%; 
    margin: 0 auto;
    
}

.contenedor{
    font-family: "Krub", sans-serif;
    font-weight: bold;
    font-style: normal;
    border-radius: 4px;
    padding: 20px;
}

.contenedor1{ /* Create end schedule */
    background-color: hsl(31, 66%, 93%);

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;

    /*Para centrar*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.span-contenedor1{
    color:purple;
}



.contenedor2{ /* Write your content */
    background-color: hsl(39, 100%, 71%);
    
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 6;
}

.contenedor3{ /* Social Media */
    background-color: hsl(256, 67%, 59%);

    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;

    text-align: center;
    color: aliceblue;
}
.contenedor4{ /* Manage multiple */
    background-color: hsl(0, 0%, 100%);

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 4;
}


.contenedor5{ /* 56% */
    background-color: hsl(0, 0%, 100%);

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 6;
}
.texto-contenedor5{
    font-size: 50px;
    margin: 0;
    
}

.contenedor6{ /* Maintan a consistent */
    background-color: hsl(39, 100%, 71%);

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 4;
}


.contenedor7{ /*Grow followers*/
    background-color: hsl(256, 67%, 59%);

    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 4;
    grid-row-end: 6;
}

.contenedor8{
    background-color:hsl(254, 88%, 90%);

    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 4;

}

/*
    Estilos de imagenes
*/

.contenedor-imagen-1{


}

.imagen-contenedor1{
    width: 80%;
    height: 80%;
    
    
}

.create{
    font-size: 50px;
    
}


/* .imagen-contenedor2{
    width: 50%;
    height: 15%;

}

.imagen-contenedor3{
    width: 15%;
    height: 15%;
}

.imagen-contenedor4{
    width: 15%;
    height: 15%;

}

.imagen-contenedor5{
}

.imagen-contenedor6{
   
}

.imagen-contenedor7{
    
}

.imagen-contenedor8{
    width: 100%;
    height: 20%;
    margin-left: 20px;
}


/*
    Estilos de letras
    */

.contenedor-imagen-1{


}
.contenedor-imagen-2{
    

}
.contenedor-imagen-3{
    

}
.contenedor-imagen-4{
    max-width: 900px;
}
.imagen-contenedor4{
    width: 100%;
}
.contenedor-imagen-5{
    

}
.contenedor-imagen-6{
    max-width: 500px;
}

.imagen-contenedor6{
    width: 100%;
}


.contenedor-imagen-7{
    

}

.contenedor-imagen-8{

    max-width: 500px;

}

.imagen-contenedor8{
    width: 100%;
}


