.body{
    display: flex;
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 20px;
    margin-bottom: 20px;
}
.main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    width: 65%;
    height: 80vh;
}

.contenedor{
    font-family: "Krub", sans-serif;
    font-weight: 600;
    font-style: normal;
    border-radius: 4px;
    padding: 10px;
}

.contenedor1{ /* Create end schedule */
    background-color: hsl(31, 66%, 93%);

    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 3;
}
.span-contenedor1{
    color:purple;
}

.imagen-contenedor1{
    display: block;
    height: auto;
    width: 120px;
    margin: 0 auto;
}
.create{
    font-size: 30px;
}
.contenedor2{ /* Write your content */
    background-color: hsl(39, 100%, 71%);
    
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 3;
    grid-row-end: 6;
}

.write{
    margin: 0;
    font-size: 30px;
}

.imagen-contenedor2{
    display: block;
    height: 20vh;
    width: 120px;
    padding: 10px;
    margin: 0 auto;
}

.contenedor3{ /* Social Media */
    background-color: hsl(256, 67%, 59%);

    grid-column-start: 2;
    grid-column-end: 4;

    grid-row-start: 1;
    grid-row-end: 2;

    text-align: center;
    color: aliceblue;
}
.span-contenedor3{
    color: hsl(39, 100%, 71%);
}
.imagen-contenedor3{
    display: block;
    height: auto;
    width: 120px;
    margin: 0 auto;
}
.p3{
    font-size: small;
    text-align: center;
}
.social{
    font-size: 30px;
}
.contenedor4{ /* Manage multiple */
    background-color: hsl(0, 0%, 100%);

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 2;
    grid-row-end: 4;
}
.imagen-contenedor4{
    display: block;
    height: auto;
    width: 150px;
    margin: 0 auto;
    padding-right: 15px;

}

.contenedor5{ /* 56% */
    background-color: hsl(0, 0%, 100%);

    grid-column-start: 2;
    grid-column-end: 3;

    grid-row-start: 4;
    grid-row-end: 6;
}
.texto-contenedor5{
    font-size: 50px;
    margin: 0;
    
}
.faster{
    font-weight: normal;
    font-size: 10px;
    margin: 0;

}
.imagen-contenedor5{
    display: block;
    height: auto;
    width: 110px;
    margin: 0 auto;
    padding-top: 10px;
}

.contenedor6{ /* Maintan a consistent */
    background-color: hsl(39, 100%, 71%);

    grid-column-start: 3;
    grid-column-end: 4;

    grid-row-start: 2;
    grid-row-end: 4;
}
.imagen-contenedor6{
    display: block;
    width: 100%;
    height: 100%;
}

.contenedor7{ /*Grow followers*/
    background-color: hsl(256, 67%, 59%);

    grid-column-start: 3;
    grid-column-end: 5;

    grid-row-start: 4;
    grid-row-end: 6;
}
.imagen-contenedor7{
    width: 35%;
}
.grow{
    display: flex;
    align-items: center;
}

.contenedor8{
    background-color:hsl(254, 88%, 90%);

    grid-column-start: 4;
    grid-column-end: 5;

    grid-row-start: 1;
    grid-row-end: 4;

}
@media(max-width: 600px){
    main{
          display: grid;
    }
}